{% extends 'WineApp/base.html' %}
{% load static %}
{% block stylesheet %}
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet"/>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="{% static "WineApp/lib/black-dashboard/assets/css/black-dashboard.css" %}" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="sidebar" data="blue">
            <!--
              Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
          -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="#" class="simple-text logo-mini">
                        APP
                    </a>
                    <a href="#" class="simple-text logo-normal">
                        WineApp
                    </a>
                </div>
                <ul class="nav">
                    <li class="nav-item active ">
                        <a href="#">
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a href="#">
                            <p>Dashboard</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel" data="blue">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle d-inline">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#">Dashboard</a>
                    </div>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            <li class="dropdown nav-item">
                                <a class="nav-link" href="#"> Home
                                </a>
                            </li>
                            <li class="dropdown nav-item">
                                <a class="nav-link" href="#"> RealTime
                                </a>
                            </li>
                            <li class="separator d-lg-none"></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <!-- your content here -->
                    <button type="button" class="btn btn-info">Primary</button>
                    <button type="button" class="btn btn-default">Default</button>
                    <button class="btn btn-info btn-round">
                        With Icon
                    </button>
                    <i class="material-icons">linked_camera</i>
                    <div class="form-group">
                        <label for="sensors">Sensors</label>
                        <select class="form-control" id="sensors">
                            {% for sensor in sensors %}
                                <option value="{{ sensor.id }}">
                                    {{ sensor.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="chart-cont"></div>
                </div>
            </div>
            <footer class="footer">
            </footer>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{% static 'WineApp/js/daily_data.js' %}"></script>
    <!--   Core JS Files   -->
    <script src="{% static "WineApp/lib/black-dashboard/assets/js/plugins/perfect-scrollbar.jquery.min.js" %}"></script>
    <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
    <script src="{% static "WineApp/lib/black-dashboard/assets/js/black-dashboard.min.js" %}"></script>

{% endblock %}
