{% extends 'WineApp/base.html' %}
{% load static %}
{% block stylesheet %}
{% endblock %}
{% block content %}
    <div class="wrapper">
        <div class="sidebar" data="blue">
            <!--
              Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
          -->
            <div class="d-flex sidebar-wrapper flex-column">
                <div class="logo">
                    <p>Sensors</p>
                </div>
                <div class="scroll-y">
                    <ul class="nav">
                        {% for sensor in sensors %}
                            {% if sensor.id == data_js.sensor.id %}
                                <li class="nav-item active ">
                                    <a href="#" class="sensor" id="sensor_{{ sensor.id }}"
                                       data-sensor="{{ sensor.id }}">
                                        <i class="{{ sensor.icon }}"></i>
                                        {{ sensor }}
                                    </a>
                                </li>
                            {% else %}
                                <li class="nav-item ">
                                    <a href="#" class="sensor" id="sensor_{{ sensor.id }}"
                                       data-sensor="{{ sensor.id }}">
                                        <i class=" {{ sensor.icon }}"></i>
                                        {{ sensor }}
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="main-panel" data="blue">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle d-inline">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#">WINEAPP</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto">
                            <li class="dropdown nav-item">
                                <a class="nav-link" href="#"> Home
                                </a>
                            </li>
                            <li class="dropdown nav-item">
                                <a class="nav-link" href="#"> RealTime
                                </a>
                            </li>
                            <li class="separator d-lg-none"></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-category">Oggi</h5>
                                <h3 class="card-title">
                                    <i class="fas fa-thermometer-half text-primary"></i>
                                    <span class="card-category">Max</span>
                                    37°C
                                </h3>
                                <h3 class="card-title">
                                    <i class="fas fa-thermometer-half text-primary"></i>
                                    <span class="card-category">Avg</span>
                                    37°C
                                </h3>
                            </div>
                            <div class="card-footer">
                                <hr>
                                <div class="stats"><i class="fa fa-headphones"></i> Update Now</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="card-stats card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="info-icon text-center icon-warning">
                                            <i class="fas fa-thermometer-half"></i>
                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <div class="numbers">
                                            <span class="card-category">Max</span>
                                            <span class="card-title">37°C</span>
                                        </div>
                                        <div class="numbers">
                                            <span class="card-category">Avg</span>
                                            <span class="card-title">37°C</span>
                                        </div>
                                        <div class="numbers">
                                            <span class="card-category">Min</span>
                                            <span class="card-title">37°C</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <hr>
                                <div class="stats">
                                    <i class="fas fa-thermometer-half"></i>
                                    Temperatura oggi
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card card-chart" id="sensor-chart">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-sm-6 text-left">
                                        <h5 class="card-category"></h5>
                                        <h2 class="card-title"></h2>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart-area-big">
                                    <div class="chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-xl-6">
                        <div class="card card-chart" id="month-chart">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-sm-6 text-left">
                                        <h5 class="card-category"></h5>
                                        <h2 class="card-title"></h2>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                                            <label id="month-tot" class="btn btn-sm btn-info btn-simple month"
                                                   data-val="Tot">
                                                <input type="radio" class="d-none d-sm-none" name="options" checked="">
                                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Tot</span>
                                                <span class="d-block d-sm-none">Tot</span>
                                            </label>
                                            <label id="month-avg" class="btn btn-sm btn-info btn-simple month"
                                                   data-val="Avg">
                                                <input type="radio" class="d-none d-sm-none"
                                                       name="options">
                                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Avg</span>
                                                <span class="d-block d-sm-none">Avg</span>
                                            </label>
                                            <label id="month-max" class="btn btn-sm btn-info btn-simple month"
                                                   data-val="Max">
                                                <input type="radio" class="d-none d-sm-none"
                                                       name="options">
                                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Max</span>
                                                <span class="d-block d-sm-none">Max</span>
                                            </label>
                                            <label id="month-min" class="btn btn-sm btn-info btn-simple month"
                                                   data-val="Min">
                                                <input type="radio" class="d-none d-sm-none"
                                                       name="options">
                                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Min</span>
                                                <span class="d-block d-sm-none">Min</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart-area-big">
                                    <div class="chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-xl-6">
                        <div class="card card-chart" id="trend-chart">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-sm-6 text-left">
                                        <h5 class="card-category"></h5>
                                        <h2 class="card-title"></h2>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
                                            <label id="trend-tot" class="btn btn-sm btn-info btn-simple trend"
                                                   data-val="Tot">
                                                <input type="radio" class="d-none d-sm-none" name="options" checked="">
                                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Tot</span>
                                                <span class="d-block d-sm-none">Tot</span>
                                            </label>
                                            <label id="trend-avg" class="btn btn-sm btn-info btn-simple trend"
                                                   data-val="Avg">
                                                <input type="radio" class="d-none d-sm-none"
                                                       name="options">
                                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Avg</span>
                                                <span class="d-block d-sm-none">Avg</span>
                                            </label>
                                            <label id="trend-max" class="btn btn-sm btn-info btn-simple trend"
                                                   data-val="Max">
                                                <input type="radio" class="d-none d-sm-none"
                                                       name="options">
                                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Max</span>
                                                <span class="d-block d-sm-none">Max</span>
                                            </label>
                                            <label id="trend-min" class="btn btn-sm btn-info btn-simple trend"
                                                   data-val="Min">
                                                <input type="radio" class="d-none d-sm-none"
                                                       name="options">
                                                <span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">Min</span>
                                                <span class="d-block d-sm-none">Min</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="chart-area-big">
                                    <div class="chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                    <div class="copyright float-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        , made with <i class="far fa-heart"></i> by
                        Lorenzo and Andrea for a better wine.
                    </div>
                    <!-- your footer here -->
                </div>
            </footer>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{% static 'WineApp/js/daily_data.js' %}"></script>
{% endblock %}
