{% extends 'WineApp/dashboard.html' %}
{% load static %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{% static 'WineApp/lib/calendar/calendar.css' %}">
{% endblock %}
{% block content %}
    <div class="row card-stats-row">
        <div class="col-sm-6 col-xl-3">
            <div class="card-stats card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto pr-0">
                            <div class="info-icon text-center icon-warning">
                                <i class="far fa-clock"></i>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row flex-nowrap">
                                <div class="col p-0"></div>
                                <div class="col-auto">
                                    <p class="label">Ultimo aggiornamento</p>
                                    <p class="number capitalize"><span class="js-last-update"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <hr>
                    <span class="stats link" id="refresh"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card-stats card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto pr-0">
                            <div class="info-icon text-center icon-warning">
                                <i class="fas fa-calendar-alt"></i>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row flex-nowrap">
                                <div class="col p-0"></div>
                                <div class="col-auto labels pr-0 js-monthStats-hide">
                                    <p class="js-show-tot">Tot</p>
                                    <p class="js-show-avg">Avg</p>
                                    <p class="js-show-max">Max</p>
                                    <p class="js-show-min">Min</p>
                                </div>
                                <div class="col-auto numbers js-monthStats-hide">
                                    <p class="js-show-tot js-lastMonthStats-tot"></p>
                                    <p class="js-show-avg js-lastMonthStats-avg"></p>
                                    <p class="js-show-max js-lastMonthStats-max"></p>
                                    <p class="js-show-min js-lastMonthStats-min"></p>
                                    <p class="values-space"><span class="js-lastMonthStats-space"></span></p>
                                </div>
                                <p class="col-auto js-monthStats-info card-info pt-3"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <hr>
                    <div class="stats">
                        <span class="js-sensor-icon"></span>
                        <span><span class="js-sensor"></span> <span class="js-calendar-month"></span></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card-stats card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto pr-0">
                            <div class="info-icon text-center icon-warning">
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row flex-nowrap">
                                <div class="col p-0"></div>
                                <div class="col-auto labels pr-0">
                                    <p>Minori</p>
                                    <p>Medie</p>
                                    <p>Gravi</p>
                                </div>
                                <div class="col-auto numbers">
                                    <p class="js-minor-month"></p>
                                    <p class="js-medium-month"></p>
                                    <p class="js-major-month"></p>
                                    <p class="values-space"><span class="js-anomalies-month-space"></span></p>
                                </div>
                                <div class="col-auto numbers">
                                    <p class="js-minor-year"></p>
                                    <p class="js-medium-year"></p>
                                    <p class="js-major-year"></p>
                                    <p class="values-space"><span class="js-anomalies-year-space"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <hr>
                    <div class="stats">
                        <span class="js-sensor-icon"></span>
                        <span>Anomalie <span class="js-sensor lowercase"></span> <span
                                class="js-measure"></span> (<span class="js-calendar-month"></span> - <span
                                class="js-calendar-year"></span>)</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="card-stats card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-auto pr-0">
                            <div class="info-icon text-center icon-warning">
                                <i class="fas fa-exclamation-triangle"></i>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row flex-nowrap">
                                <div class="col p-0"></div>
                                <div class="col-auto labels pr-0 js-monthAnomalies-hide">
                                    <p class="js-show-tot">Tot</p>
                                    <p class="js-show-avg">Avg</p>
                                    <p class="js-show-max">Max</p>
                                    <p class="js-show-min">Min</p>
                                </div>
                                <div class="col-auto numbers js-monthAnomalies-hide">
                                    <p class="js-show-tot js-monthAnomalies-tot"></p>
                                    <p class="js-show-avg js-monthAnomalies-avg"></p>
                                    <p class="js-show-max js-monthAnomalies-max"></p>
                                    <p class="js-show-min js-monthAnomalies-min"></p>
                                    <p class="values-space"><span class="js-monthAnomalies-space"></span></p>
                                </div>
                                <div class="col-auto numbers js-monthAnomalies-hide">
                                    <p class="js-show-tot js-yearAnomalies-tot"></p>
                                    <p class="js-show-avg js-yearAnomalies-avg"></p>
                                    <p class="js-show-max js-yearAnomalies-max"></p>
                                    <p class="js-show-min js-yearAnomalies-min"></p>
                                    <p class="values-space"><span class="js-yearAnomalies-space"></span></p>
                                </div>
                                <p class="col-auto js-monthAnomalies-info card-info pt-3"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <hr>
                    <div class="stats">
                        <span class="js-sensor-icon"></span>
                        <span>Anomalie <span class="js-sensor lowercase"></span> <span
                                class="js-measure"></span> (<span class="js-calendar-month"></span> - <span
                                class="js-calendar-year"></span>)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card card-calendar" id='calendar'></div>
        </div>
    </div>
{% endblock %}
{% block javascript %}
    <script src="{% static 'WineApp/lib/calendar/calendar.js' %}"></script>
    <script src="{% static 'WineApp/js/index.js' %}"></script>
    {{ block.super }}
{% endblock %}
