.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome and Opera */
}

:root {
    --color1: #1d8cf8;
    --color2: #2dce89;
    --color3: #ff893d;
    --color4: #f5365c;
}

.card-chart .chart-area-big, .card-chart .chart-area-big .chart {
    height: 500px;
}

.card-chart .chart-area, .card-chart .chart-area .chart {
    height: 300px;
}

.scroll-y {
    overflow: hidden !important;
    position: relative;
}

html {
    overflow: hidden;
}

.fc-crs-widget .fc-cal-container {
    border: none !important;
}

.capitalize::first-letter {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

/* Black theme*/
.sidebar .sidebar-wrapper {
    min-height: calc(100% - 80px);
}

.sidebar .nav li > a + div .nav li > a.nav-measure {
    padding: 0 0 0 70px;
}

.sidebar .nav li:not(.active) > a {
    color: #ffffffcc;
}

.sidebar .nav li:not(.active) > a[disabled], .sidebar .nav li:not(.active) > a[disabled] > i {
    color: #ffffff60;
    cursor: default;
}

.sidebar .nav-measures {
    display: none;
}

.sidebar .nav-sensor-toggle .caret-icon {
    top: 7px;
    position: absolute;
    right: 0;
    margin-right: 0;
    font-size: 13px;
}

.sidebar .nav li.active > a.nav-sensor-toggle:before {
    background-color: #ffffff99;
}

.sidebar .nav li.active > a.nav-measure:before {
    top: 9px;
    left: 40px;
}


@media screen and (max-width: 991px) {
    .sidebar .sidebar-wrapper {
        min-height: 100%;
    }
}

.footer {
    padding: 24px 0 22px 250px;
}


/* Colors */
.btn-primary.btn-simple {
    color: #fff;
    border: none !important;
    background: var(--color2) !important;
}

.btn-primary.btn-simple.active {
    color: #fff;
    border: none !important;
    background: var(--color2) !important;
}


.btn-success.btn-simple {
    color: #fff;
    border: none !important;
    background: var(--color3) !important;
}

.btn-success.btn-simple.active {
    color: #fff;
    border: none !important;
    background: var(--color3) !important;
}

/*Card stats*/
.card-stats {
    height: calc(100% - 30px);
}

.card-stats .card-body {
    padding-bottom: 0;
}

.card-stats .card-footer {
    padding-top: 0;
}

.card-stats .card-footer .stats {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome and Opera */
}

.card-stats:hover .card-footer .stats {
    color: #7486b3;
}

.card-stats .card-footer .stats.link {
    cursor: pointer;
}

.card-stats .card-footer .stats.link:hover {
    color: #91a7df;
}

.card-stats .info-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: -webkit-gradient(linear, right top, left bottom, from(#e14eca), color-stop(#ba54f5), to(#e14eca));
    background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca);
    background-size: 210% 210%;
    background-position: 100% 0;
    margin-bottom: 5px;
    background: var(--color4);
}

.card-stats .info-icon i {
    color: #fff;
    font-size: 1.7em;
    padding: 14px 13px;
}

.card-stats .labels {
    width: max-content;
}

.card-stats .labels > p {
    text-align: right;
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    line-height: 27px;
}

.card-stats .label {
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    line-height: 27px;
}

.card-stats .numbers > p {
    font-family: 'Varela Round', sans-serif;
    text-align: right;
    color: #ffffff;
    font-weight: 300;
    font-size: 21px;
    margin-bottom: 0;
}

.card-stats .number {
    font-family: 'Varela Round', sans-serif;
    color: #ffffff;
    font-weight: 300;
    font-size: 21px;
    margin-bottom: 0;
}

.card-stats .js-unit {
    color: #dfdfdf;
    font-weight: 200;
    font-size: 18px;
    margin-left: 1px;
}

.card-stats .js-trend-icon i {
    padding-left: 5px;
}


.card-stats .values-space {
    height: 0;
    overflow: hidden;
}

.card-stats hr {
    margin-top: 5px;
    margin-bottom: 10px;
}

.big-icon i {
    color: var(--color1);
    font-size: 25px !important;
}

.ps .ps__rail-x:hover, .ps .ps__rail-y:hover,
.ps .ps__rail-x:focus, .ps .ps__rail-y:focus,
.ps .ps__rail-x.ps--clicking, .ps .ps__rail-y.ps--clicking {
    background-color: transparent;
}

.logo {
    flex: 0 0 auto;
}

.fa-heart {
    color: var(--color1);
}

.trasparent {
    opacity: 0;
}
