.no-select {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Chrome and Opera */
}

.card-chart .chart-area-big, .card-chart .chart-area-big .chart {
    height: 500px;
}

.fc-crs-widget .fc-cal-container {
    border: none !important;
}

.ps .ps__rail-y:hover {
    background-color: transparent;
}