{% extends "MontalcinoForecastsApp/base.html" %}

{% block js %}
{% load static %}
<script src="{% static "MontalcinoForecastsApp/js/complete.js" %}"></script>
<script>    
    $(document).ready(function() {
        $("#complete-link").addClass("active");
        $("#complete-link").find("a").append('<span class="sr-only">(current)</span>');
        
        {% if start_train_date %}
        vintageCountFromStrings("{{ start_train_date }}", "{{ end_train_date }}", "#vintages");
         
        postData = {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            startTrainDate: "{{ start_train_date }}",
            endTrainDate: "{{ end_train_date }}",
            regrCombo: {{ regr_combo }}
        };
        {% endif %}
        
        {% if anchor %}
        window.location = '#{{ anchor }}';
        {% endif %}
    });
</script>
{% endblock %}

{% block main %}
<div class="container">
    
    <div class="row">
        <div class="card w-100">
            <div class="card-header"><h4 class="card-title">Addestramento del modello nuovo</h4></div>
            <div class="card-body">
                <p class="pb-1 text-justify">Seleziona i parametri da utilizzare nella regressione lineare.</p>
                <form id="training-form" action="{% url 'MontalcinoForecastsApp:complete' %}" method="post">
                    {% csrf_token %}
                    <h6>Scegli un range di date:</h6>
                    <div class="d-flex flex-row flex-wrap pb-3">
                        <div>
                            <label class="m-2" for="startDate">Inizio: </label>
                            <input class="date-input readonly" type="text" id="startDate" placeholder="gg/mm/aaaa" name="startDate" required>
                        </div>
                        <div>
                            <label class="m-2" for="endDate">Fine: </label>
                            <input class="date-input readonly" type="text" id="endDate" placeholder="gg/mm/aaaa" name="endDate" required>
                        </div>
                    </div>
                    <h6>Scegli gli indici bioclimatici:</h6>
                    <div class="d-flex flex-row flex-wrap pb-3">
                        {% for regr in form_regressors %}
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="regr-{{ regr.id }}" name="regr-{{ regr.id }}" value="regr-{{ regr.id }}">
                            <label class="form-check-label" for="regr-{{ regr.id }}">{{ regr.name }}</label>
                        </div>
                        {% endfor %} 
                    </div>
                    <button class="btn btn-purple" type="submit">Ok</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        {%if err_msg %}
        <div class="alert alert-danger" role="alert">Errore: {{ err_msg }}</div>
        {% endif %}
    </div>
    
    {% if table_data %}
    
    <a id="results-section"></a>
    <div class="row">
        <div class="col-lg-4 pl-0 under-lg-pr-0 d-flex align-items-stretch">
            <div class="card w-100">
                <div class="card-header">
                    <h4 class="card-title">Risultati</h4>
                    <h6>Regressione lineare</h6>
                </div>
                <div class="card-body">
                    <div class="py-1">
                        Periodo: <span class="numbers">{{ start_train_date }}</span> - <span class="numbers">{{ end_train_date }}</span>
                    </div>
                    <div class="py-1">N. annate: <span class="numbers" id="vintages"></span></div>
                    <div class="py-1">N. regressori: <span class="numbers">{{ regr_count }}</span></div>
                    <div class="py-1">R<sup>2</sup>: <span class="numbers">{{ r2|floatformat:2 }}</span></div>
                    <div class="py-1">R<sup>2</sup> aggiustato: <span class="numbers">{{ adj_r2|floatformat:2 }}</span></div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 pr-0 under-lg-pl-0">
            <div class="card">
                <div class="card-header"><h4 class="card-title">Confronto tra qualità predetta e reale</h4></div>
                <div class="card-body">
                    <div id="chart">{{ chart_out|safe }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        {%for regr, icon, coef, pval in table_data %}
        <div class="col mb-4">
            <div class="card h-100">
                <div class="card-header">
                    <div class="info-icon"><i class="{{ icon }}"></i></div>
                    <h6>{{ regr }}</h6>
                </div>
                <div class="card-body">
                    <p>Coefficiente: <span class="numbers">{{ coef|floatformat:4 }}</span></p>
                    <p>Valore p: <span class="numbers">{{ pval|floatformat:2 }}</span></p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="card w-100">
            <div class="card-header pb-0"><h4 class="card-title">Previsioni</h4></div>
            <div class="card-body pt-0">
                <form id="forecast-form" action="" method="post">
                    <label for="forecastYear">Scegli l'anno su cui vuoi fare la previsione: </label>
                    <input class="date-input readonly" type="text" id="forecastYear" placeholder="aaaa" name="forecastYear" required>
                    <br>
                    <button class="btn btn-purple mb-4 mt-2" type="submit">Ok</button>
                </form>

                <div class="rating-container py-1 text-center d-flex flex-row flex-wrap justify-content-center">
                    <div class="px-3">
                        <svg id="star-1" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                    </div>
                    <div class="px-3">
                        <svg id="star-2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                    </div>
                    <div class="px-3">
                        <svg id="star-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                    </div>
                    <div class="px-3">
                        <svg id="star-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                    </div>
                    <div class="px-3">
                        <svg id="star-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z"/></svg>
                    </div>
                </div>
                
                <div id="forecast-results"></div>
                
            </div>
        </div>
    </div>

    <div class="row">
        <div id="forecast-error"></div>
    </div>

    {% endif %}

</div>
{% endblock %}